<div class="mainDiv">
    <div class="logo">
        <img src="../../assets/logo.svg" alt="" style="width: 150px" />
    </div>
    <p class="email">
        Tu correo
        <br />
       {{email}}
    </p>
    <div class="correctParent">
        <div class="correct">
            <img src="../../assets/correct.png" alt="" />
        </div>
        <p>{{message}}</p>
    </div>
    <button class="backToAppButton" (click)="comebackApp()">Volver a la aplicación</button>
</div>
<div class="footerSeption">
    <p>
        Para cualquier duda o aclaración, comunícate con nosotros al correo
        <span class="emailSupport">support@ebloqs.com</span>
    </p>
    <p style="margin-top: 20px; color: #170658; font-weight: 600">
        Gracias por formar parte de nuestra comunidad.
    </p>

    <p class="global-text">
        Check in <a href="" target="_blank">{{os}}</a>!
    </p>
</div>