<div class="mainDiv">
    <div class="primary-container">
        <div>
            <a href="https://ebloqs.com/" target="_blank">
                <img src="../../assets/logo.png" class="logo" alt="Logo" />
            </a>
        </div>


    </div>
    <p style="margin-top: 20px; color: #170658; font-weight: 600">
        Gracias por formar parte de nuestra comunidad.
    </p>
    <div class="logo">
        <img src="../../assets/logo.svg" alt="" style="width: 150px" />
    </div>


    <button href="ebloqsurl://18.117.101.148" class="backToAppButton">Volver a la aplicación</button>
</div>
<div class="footerSeption">
    <p>
        Para cualquier duda o aclaración, comunícate con nosotros al correo
        <span class="emailSupport">support@ebloqs.com</span>
    </p>

</div>